@font-face {
    font-family: graffiti;
    src: url(../fonts/adrip1.ttf)
}

* { 
    padding: 0; 
    margin:0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../images/brick-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.title {
    font-family: graffiti;
    font-size: 100px;
    color: white; 
}

.signature {
    font-family: graffiti;
    font-size: 36px;
    color: black
}

canvas { 
    background: rgb(78, 120, 255);
    border: 5px solid rgb(210, 187, 167);
    border-radius: 10px;
}

.playButton {
    position: absolute;
}

.restartButton {
    /* position: absolute; */
}